# Task 3 - Modeling

This notebook will get you started by helping you to load the data, but then it'll be up to you to complete the task! If you need help, refer to the `modeling_walkthrough.ipynb` notebook.


## Section 1 - Setup

First, we need to mount this notebook to our Google Drive folder, in order to access the CSV data file. If you haven't already, watch this video https://www.youtube.com/watch?v=woHxvbBLarQ to help you mount your Google Drive folder.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

We want to use dataframes once again to store and manipulate the data.

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [1]:
import pandas as pd

---

## Section 2 - Data loading

Similar to before, let's load our data from Google Drive for the 3 datasets provided. Be sure to upload the datasets into Google Drive, so that you can access them here.

In [2]:
path = "/content/drive/MyDrive/Forage - Cognizant AI Program/Task 3/Resources/"

sales_df = pd.read_csv(r"C:\Users\aghay\Downloads\sales.csv")
sales_df.drop(columns=["Unnamed: 0"], inplace=True, errors='ignore')
sales_df

,transaction_id,timestamp,product_id,category,customer_type,unit_price,quantity,total,payment_type
0,a1c82654-c52c-45b3-8ce8-4c2a1efe63ed,2022-03-02 09:51:38,3bc6c1ea-0198-46de-9ffd-514ae3338713,fruit,gold,3.99,2,7.98,e-wallet
1,931ad550-09e8-4da6-beaa-8c9d17be9c60,2022-03-06 10:33:59,ad81b46c-bf38-41cf-9b54-5fe7f5eba93e,fruit,standard,3.99,1,3.99,e-wallet
2,ae133534-6f61-4cd6-b6b8-d1c1d8d90aea,2022-03-04 17:20:21,7c55cbd4-f306-4c04-a030-628cbe7867c1,fruit,premium,0.19,2,0.38,e-wallet
3,157cebd9-aaf0-475d-8a11-7c8e0f5b76e4,2022-03-02 17:23:58,80da8348-1707-403f-8be7-9e6deeccc883,fruit,gold,0.19,4,0.76,e-wallet
4,a81a6cd3-5e0c-44a2-826c-aea43e46c514,2022-03-05 14:32:43,7f5e86e6-f06f-45f6-bf44-27b095c9ad1d,fruit,basic,4.49,2,8.98,debit card
...,...,...,...,...,...,...,...,...,...
7824,6c19b9fc-f86d-4526-9dfe-d8027a4d13ee,2022-03-03 18:22:09,bc6187a9-d508-482b-9ca6-590d1cc7524f,cleaning products,basic,14.19,2,28.38,e-wallet
7825,1c69824b-e399-4b79-a5e7-04a3a7db0681,2022-03-04 19:14:46,707e4237-191c-4cc9-85af-383a6c1cb2ab,cleaning products,standard,16.99,1,16.99,credit card
7826,79aee7d6-1405-4345-9a15-92541e9e1e74,2022-03-03 14:00:09,a9325c1a-2715-41df-b7f4-3078fa5ecd97,cleaning products,basic,14.19,2,28.38,credit card
7827,e5cc4f88-e5b7-4ad5-bc1b-12a828a14f55,2022-03-04 15:11:38,707e4237-191c-4cc9-85af-383a6c1cb2ab,cleaning products,basic,16.99,4,67.96,cash
7828,afd70b4f-ee21-402d-8d8f-0d9e13c2bea6,2022-03-06 13:50:36,d6ccd088-11be-4c25-aa1f-ea87c01a04db,cleaning products,non-member,14.99,4,59.96,debit card

In [3]:
sales_df['year'] = pd.to_datetime(sales_df['timestamp']).dt.year
sales_df['month'] = pd.to_datetime(sales_df['timestamp']).dt.month
sales_df['day'] = pd.to_datetime(sales_df['timestamp']).dt.day
sales_df['hour'] = pd.to_datetime(sales_df['timestamp']).dt.hour
sales_df['minute'] = pd.to_datetime(sales_df['timestamp']).dt.minute

In [4]:
sales_df = sales_df.drop(['transaction_id'],axis = 1)
sales_df

,timestamp,product_id,category,customer_type,unit_price,quantity,total,payment_type,year,month,day,hour,minute
0,2022-03-02 09:51:38,3bc6c1ea-0198-46de-9ffd-514ae3338713,fruit,gold,3.99,2,7.98,e-wallet,2022,3,2,9,51
1,2022-03-06 10:33:59,ad81b46c-bf38-41cf-9b54-5fe7f5eba93e,fruit,standard,3.99,1,3.99,e-wallet,2022,3,6,10,33
2,2022-03-04 17:20:21,7c55cbd4-f306-4c04-a030-628cbe7867c1,fruit,premium,0.19,2,0.38,e-wallet,2022,3,4,17,20
3,2022-03-02 17:23:58,80da8348-1707-403f-8be7-9e6deeccc883,fruit,gold,0.19,4,0.76,e-wallet,2022,3,2,17,23
4,2022-03-05 14:32:43,7f5e86e6-f06f-45f6-bf44-27b095c9ad1d,fruit,basic,4.49,2,8.98,debit card,2022,3,5,14,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7824,2022-03-03 18:22:09,bc6187a9-d508-482b-9ca6-590d1cc7524f,cleaning products,basic,14.19,2,28.38,e-wallet,2022,3,3,18,22
7825,2022-03-04 19:14:46,707e4237-191c-4cc9-85af-383a6c1cb2ab,cleaning products,standard,16.99,1,16.99,credit card,2022,3,4,19,14
7826,2022-03-03 14:00:09,a9325c1a-2715-41df-b7f4-3078fa5ecd97,cleaning products,basic,14.19,2,28.38,credit card,2022,3,3,14,0
7827,2022-03-04 15:11:38,707e4237-191c-4cc9-85af-383a6c1cb2ab,cleaning products,basic,16.99,4,67.96,cash,2022,3,4,15,11
7828,2022-03-06 13:50:36,d6ccd088-11be-4c25-aa1f-ea87c01a04db,cleaning products,non-member,14.99,4,59.96,debit card,2022,3,6,13,50

In [5]:
sales_df = sales_df.drop(['timestamp'],axis = 1)

In [6]:
sales_df = sales_df.drop(['year','month'],axis = 1)
sales_df

,product_id,category,customer_type,unit_price,quantity,total,payment_type,day,hour,minute
0,3bc6c1ea-0198-46de-9ffd-514ae3338713,fruit,gold,3.99,2,7.98,e-wallet,2,9,51
1,ad81b46c-bf38-41cf-9b54-5fe7f5eba93e,fruit,standard,3.99,1,3.99,e-wallet,6,10,33
2,7c55cbd4-f306-4c04-a030-628cbe7867c1,fruit,premium,0.19,2,0.38,e-wallet,4,17,20
3,80da8348-1707-403f-8be7-9e6deeccc883,fruit,gold,0.19,4,0.76,e-wallet,2,17,23
4,7f5e86e6-f06f-45f6-bf44-27b095c9ad1d,fruit,basic,4.49,2,8.98,debit card,5,14,32
...,...,...,...,...,...,...,...,...,...,...
7824,bc6187a9-d508-482b-9ca6-590d1cc7524f,cleaning products,basic,14.19,2,28.38,e-wallet,3,18,22
7825,707e4237-191c-4cc9-85af-383a6c1cb2ab,cleaning products,standard,16.99,1,16.99,credit card,4,19,14
7826,a9325c1a-2715-41df-b7f4-3078fa5ecd97,cleaning products,basic,14.19,2,28.38,credit card,3,14,0
7827,707e4237-191c-4cc9-85af-383a6c1cb2ab,cleaning products,basic,16.99,4,67.96,cash,4,15,11
7828,d6ccd088-11be-4c25-aa1f-ea87c01a04db,cleaning products,non-member,14.99,4,59.96,debit card,6,13,50

In [7]:
stock_df = pd.read_csv(r"C:\Users\aghay\Downloads\sensor_stock_levels.csv")
stock_df.drop(columns=["Unnamed: 0"], inplace=True, errors='ignore')
stock_df

,id,timestamp,product_id,estimated_stock_pct
0,4220e505-c247-478d-9831-6b9f87a4488a,2022-03-07 12:13:02,f658605e-75f3-4fed-a655-c0903f344427,0.75
1,f2612b26-fc82-49ea-8940-0751fdd4d9ef,2022-03-07 16:39:46,de06083a-f5c0-451d-b2f4-9ab88b52609d,0.48
2,989a287f-67e6-4478-aa49-c3a35dac0e2e,2022-03-01 18:17:43,ce8f3a04-d1a4-43b1-a7c2-fa1b8e7674c8,0.58
3,af8e5683-d247-46ac-9909-1a77bdebefb2,2022-03-02 14:29:09,c21e3ba9-92a3-4745-92c2-6faef73223f7,0.79
4,08a32247-3f44-4002-85fb-c198434dd4bb,2022-03-02 13:46:18,7f478817-aa5b-44e9-9059-8045228c9eb0,0.22
...,...,...,...,...
14995,b9bf6788-09f3-490b-959b-dc5b55edb4b6,2022-03-04 10:52:50,e37658de-3649-4ddb-9c73-b868dd69d3fe,0.66
14996,9ff1cc01-020f-491a-bafd-13552dccff44,2022-03-02 12:25:48,fbeb39cc-8cd0-4143-bdfb-77658a02dec9,0.99
14997,4d8101de-e8a2-4af9-9764-7a3a22aa7084,2022-03-03 17:36:44,8e21dcec-d775-4969-8334-05a37a5fd189,0.72
14998,5f2a7b1e-b3c4-4395-8425-c960e22f701d,2022-03-02 19:42:47,9708cf5b-aa69-4320-a013-9d234c40e63f,0.95
14999,af6f4493-e49d-4dcb-951d-308e6cce267b,2022-03-06 17:18:27,3bc6c1ea-0198-46de-9ffd-514ae3338713,0.75

In [8]:
stock_df['year'] = pd.to_datetime(stock_df['timestamp']).dt.year
stock_df['month'] = pd.to_datetime(stock_df['timestamp']).dt.month
stock_df['day'] = pd.to_datetime(stock_df['timestamp']).dt.day
stock_df['hour'] = pd.to_datetime(stock_df['timestamp']).dt.hour
stock_df['minute'] = pd.to_datetime(stock_df['timestamp']).dt.minute

In [9]:
stock_df = stock_df.groupby(['product_id','day','hour','minute']).agg({'estimated_stock_pct' : 'mean'}).reset_index()
stock_df

,product_id,day,hour,minute,estimated_stock_pct
0,00e120bb-89d6-4df5-bc48-a051148e3d03,1,9,1,0.89
1,00e120bb-89d6-4df5-bc48-a051148e3d03,1,11,25,0.51
2,00e120bb-89d6-4df5-bc48-a051148e3d03,1,11,54,0.41
3,00e120bb-89d6-4df5-bc48-a051148e3d03,1,12,57,0.85
4,00e120bb-89d6-4df5-bc48-a051148e3d03,1,13,3,0.39
...,...,...,...,...,...
14914,fd77b5cb-498c-40ca-95d1-0f87f13dd0d8,6,17,59,0.18
14915,fd77b5cb-498c-40ca-95d1-0f87f13dd0d8,7,10,4,0.16
14916,fd77b5cb-498c-40ca-95d1-0f87f13dd0d8,7,11,24,0.46
14917,fd77b5cb-498c-40ca-95d1-0f87f13dd0d8,7,17,18,0.31
14918,fd77b5cb-498c-40ca-95d1-0f87f13dd0d8,7,18,19,0.98

In [10]:
temp_df = pd.read_csv(r"C:\Users\aghay\Downloads\sensor_storage_temperature.csv")
temp_df.drop(columns=["Unnamed: 0"], inplace=True, errors='ignore')
temp_df

                                         id            timestamp  temperature
0      d1ca1ef8-0eac-42fc-af80-97106efc7b13  2022-03-07 15:55:20         2.96
1      4b8a66c4-0f3a-4f16-826f-8cf9397e9d18  2022-03-01 09:18:22         1.88
2      3d47a0c7-1e72-4512-812f-b6b5d8428cf3  2022-03-04 15:12:26         1.78
3      9500357b-ce15-424a-837a-7677b386f471  2022-03-02 12:30:42         2.18
4      c4b61fec-99c2-4c6d-8e5d-4edd8c9632fa  2022-03-05 09:09:33         1.38
...                                     ...                  ...          ...
23885  17bcff56-9965-4e9f-ad5f-107f0f3be93f  2022-03-01 10:40:43        -1.46
23886  51d4eb44-04bd-4d6a-b777-0653bc173303  2022-03-05 17:07:49       -19.37
23887  bbcacfc4-3b59-47ee-b9e1-7dd3bd588748  2022-03-01 16:15:41        -2.89
23888  5c4d567b-4bcf-4fcd-86b7-e2db5de6e439  2022-03-07 14:44:52        -2.56
23889  589c28e1-f1f3-4efb-af6d-9f194c4d7d5b  2022-03-01 16:33:41         0.13

[23890 rows x 3 columns]

In [11]:
temp_df['year'] = pd.to_datetime(temp_df['timestamp']).dt.year
temp_df['month'] = pd.to_datetime(temp_df['timestamp']).dt.month
temp_df['day'] = pd.to_datetime(temp_df['timestamp']).dt.day

In [12]:
temp_df['hour'] = pd.to_datetime(temp_df['timestamp']).dt.hour
temp_df['minute'] = pd.to_datetime(temp_df['timestamp']).dt.minute

In [13]:
temp_df = pd.DataFrame(temp_df.groupby(['day','hour','minute']).agg({'temperature' : 'mean'})).reset_index()
temp_df

      day  hour  minute  temperature
0       1     9       0    -0.353333
1       1     9       1     0.110000
2       1     9       2     9.050000
3       1     9       3    10.385000
4       1     9       4     3.901667
...   ...   ...     ...          ...
4598    7    19      55    -5.680000
4599    7    19      56     0.457500
4600    7    19      57     0.582500
4601    7    19      58    -0.956000
4602    7    19      59     3.584000

[4603 rows x 4 columns]

In [14]:
df_init = stock_df.merge(sales_df, left_on='product_id', right_on='product_id',how='left').drop(['minute_y','hour_y','day_y'],axis = 1).drop_duplicates()

In [15]:
df_init = df_init.rename(columns = {'day_x':'day','hour_x':'hour','minute_x':'minute'})
df_init

,product_id,day,hour,minute,estimated_stock_pct,category,customer_type,unit_price,quantity,total,payment_type
0,00e120bb-89d6-4df5-bc48-a051148e3d03,1,9,1,0.89,kitchen,premium,11.19,2,22.38,debit card
1,00e120bb-89d6-4df5-bc48-a051148e3d03,1,9,1,0.89,kitchen,standard,11.19,2,22.38,e-wallet
2,00e120bb-89d6-4df5-bc48-a051148e3d03,1,9,1,0.89,kitchen,gold,11.19,1,11.19,e-wallet
3,00e120bb-89d6-4df5-bc48-a051148e3d03,1,9,1,0.89,kitchen,basic,11.19,3,33.57,credit card
4,00e120bb-89d6-4df5-bc48-a051148e3d03,1,9,1,0.89,kitchen,basic,11.19,3,33.57,e-wallet
...,...,...,...,...,...,...,...,...,...,...,...
432291,fd77b5cb-498c-40ca-95d1-0f87f13dd0d8,7,18,19,0.98,snacks,gold,3.19,1,3.19,debit card
432292,fd77b5cb-498c-40ca-95d1-0f87f13dd0d8,7,18,19,0.98,snacks,basic,3.19,2,6.38,cash
432293,fd77b5cb-498c-40ca-95d1-0f87f13dd0d8,7,18,19,0.98,snacks,standard,3.19,4,12.76,cash
432294,fd77b5cb-498c-40ca-95d1-0f87f13dd0d8,7,18,19,0.98,snacks,gold,3.19,1,3.19,e-wallet
432295,fd77b5cb-498c-40ca-95d1-0f87f13dd0d8,7,18,19,0.98,snacks,basic,3.19,4,12.76,debit card

In [16]:
df = df_init.merge(temp_df,on = ['day','hour','minute'])

In [17]:
df = df.drop(['product_id','minute'],axis = 1)
df

,day,hour,estimated_stock_pct,category,customer_type,unit_price,quantity,total,payment_type,temperature
0,1,9,0.89,kitchen,premium,11.19,2,22.38,debit card,0.110000
1,1,9,0.89,kitchen,standard,11.19,2,22.38,e-wallet,0.110000
2,1,9,0.89,kitchen,gold,11.19,1,11.19,e-wallet,0.110000
3,1,9,0.89,kitchen,basic,11.19,3,33.57,credit card,0.110000
4,1,9,0.89,kitchen,basic,11.19,3,33.57,e-wallet,0.110000
...,...,...,...,...,...,...,...,...,...,...
333591,4,19,0.66,snacks,gold,3.19,1,3.19,debit card,5.867143
333592,4,19,0.66,snacks,basic,3.19,2,6.38,cash,5.867143
333593,4,19,0.66,snacks,standard,3.19,4,12.76,cash,5.867143
333594,4,19,0.66,snacks,gold,3.19,1,3.19,e-wallet,5.867143
333595,4,19,0.66,snacks,basic,3.19,4,12.76,debit card,5.867143

In [18]:
df['customer_type'] = df['customer_type'].map({'non-member':0,'basic':1,'standard':2,'premium':3,'gold':4})

In [19]:
df['category'] = df['category'].map((df['category'].value_counts())/len(df))

In [20]:
df = pd.get_dummies(df,columns = ['day','payment_type'],drop_first = True)

In [21]:
df = df.sample(frac = 1)
y = df['estimated_stock_pct']
X = df.drop(['estimated_stock_pct'],axis = 1)
limit = int(0.8 * len(df))
train_y = y.iloc[:limit]
test_y = y.iloc[limit:]
train_x = X.iloc[:limit]
test_x = X.iloc[limit:]

In [24]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()
clf.fit(train_x, train_y)

LinearRegression()

In [25]:
y_pred = clf.predict(test_x)
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
print(r2_score(test_y, y_pred))
print(mean_absolute_error(test_y, y_pred))

0.0006053343831251556
0.2473091443939382

In [ ]:
from sklearn.svm import SVR
svr = SVR(kernel='rbf')
svr.fit(train_x, train_y)
y_pred = svr.predict(test_x)
print(r2_score(test_y, y_pred))
print(mean_absolute_error(test_y, y_pred))

In [26]:
from sklearn.tree import DecisionTreeRegressor
dt_regressor = DecisionTreeRegressor()
dt_regressor.fit(train_x, train_y)
y_pred = dt_regressor.predict(test_x)
print(r2_score(test_y, y_pred))
print(mean_absolute_error(test_y, y_pred))

0.9953953553809318
0.0011179556354917158

In [30]:
y_pred = dt_regressor.predict(train_x)
print(r2_score(train_y, y_pred))
print(mean_absolute_error(train_y, y_pred))

0.9995716954931411
0.00020867369115255968

In [25]:
from sklearn.neighbors import KNeighborsRegressor
knn_regressor = KNeighborsRegressor(n_neighbors=5)
knn_regressor.fit(train_x, train_y)
y_pred = knn_regressor.predict(test_x)
print(r2_score(test_y, y_pred))
print(mean_absolute_error(test_y, y_pred))

0.3368053581898922
0.18054731714628297

In [52]:
import numpy as np
dict(zip(list(X.columns),list(np.floor(dt_regressor.feature_importances_ * 100))))

{'hour': 12.0,
 'category': 16.0,
 'customer_type': 0.0,
 'unit_price': 21.0,
 'quantity': 0.0,
 'total': 0.0,
 'temperature': 38.0,
 'day_2': 1.0,
 'day_3': 0.0,
 'day_4': 2.0,
 'day_5': 2.0,
 'day_6': 2.0,
 'day_7': 2.0,
 'payment_type_credit card': 0.0,
 'payment_type_debit card': 0.0,
 'payment_type_e-wallet': 0.0}

In [53]:
list(np.floor(dt_regressor.feature_importances_ * 100))

[12.0,
 16.0,
 0.0,
 21.0,
 0.0,
 0.0,
 38.0,
 1.0,
 0.0,
 2.0,
 2.0,
 2.0,
 2.0,
 0.0,
 0.0,
 0.0]

In [29]:
df

,hour,estimated_stock_pct,category,customer_type,unit_price,quantity,total,temperature,day_2,day_3,day_4,day_5,day_6,day_7,payment_type_credit card,payment_type_debit card,payment_type_e-wallet
321004,12,0.83,0.049362,3,8.19,2,16.38,-6.660000,0,0,0,0,1,0,0,0,1
218662,14,0.10,0.029356,3,8.99,3,26.97,-7.247500,0,0,0,0,0,1,0,0,0
287206,11,0.99,0.119279,1,4.49,2,8.98,0.800000,0,1,0,0,0,0,0,0,0
124361,11,0.36,0.119279,2,1.49,2,2.98,0.376667,0,0,0,0,1,0,0,0,0
330666,11,0.27,0.103314,3,1.19,4,4.76,1.836000,0,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180101,18,0.01,0.119279,3,4.99,1,4.99,1.345000,0,0,1,0,0,0,0,0,1
16594,16,0.87,0.043870,4,23.99,3,71.97,0.277500,0,0,0,1,0,0,1,0,0
234945,11,0.53,0.059428,2,2.99,2,5.98,2.923750,0,0,0,1,0,0,0,1,0
161070,18,0.84,0.043373,4,10.99,3,32.97,-6.745000,0,0,0,0,0,0,0,1,0
126320,17,0.52,0.103314,3,0.49,3,1.47,12.510000,1,0,0,0,0,0,0,0,0

In [50]:
(round(df.corr().stack()['estimated_stock_pct'] * 100,2).to_dict())

{'hour': 1.01,
 'estimated_stock_pct': 100.0,
 'category': 0.88,
 'customer_type': -0.17,
 'unit_price': -1.6,
 'quantity': 0.13,
 'total': -1.1,
 'temperature': 0.37,
 'day_2': 0.5,
 'day_3': -1.62,
 'day_4': 0.65,
 'day_5': 0.18,
 'day_6': -0.91,
 'day_7': 1.24,
 'payment_type_credit card': 0.08,
 'payment_type_debit card': 0.03,
 'payment_type_e-wallet': -0.09}

Now it's up to you, refer back to the steps in your strategic plan to complete this task. Good luck!